body {
  background-image: url("./back_img1.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  background-size: cover;
  font-size: 120%;
}
.card {
  background: #111010;
  opacity: 0.7;
  color: azure;
  padding: 2em;
  width: 100%;
  border-radius: 30px;
  max-width: 420px;
  margin: 1em;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  margin: auto;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.4, 0, 1, 1);
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

button:hover {
  background: #7c7c7c;
}
h1.temp {
  margin: 0;
  margin-bottom: 0.2em;
}
.flex {
  display: flex;
  align-items: center;
}
.discription {
  text-transform: capitalize;
  margin-left: 5px;
}
.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}
.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}
